*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Encode Sans Condensed', sans-serif;
    --ff-secondary: 'Tahoma', sans-serif;
    
    --fw-reg: 300;
    --fw-bold: 700;
    
    --bg-color: #eeeeee;
    --text-color: #000000;
    --clr-accent: #2b9f4c;

    --fs-h1: 5rem;
    --fs-h2: 3rem;
    --fs-h3: 1.75rem;
    --fs-body: 1.5rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25);
}

.dark-theme {
    --bg-color: #000000;;
    --text-color: #eeeeee;
}

/* General styles */

html {
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
    overflow-x: hidden;
}

body {
    position: relative;
    background: var(--bg-color);
    color: var(--text-color);
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

.button {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 3vw;
    bottom: 2vw;
    color: var(--bg-color);
    background-color: var(--text-color);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    z-index: 1;
}

.button:hover {
    cursor: pointer;
    opacity: .5;
}

section {
    position: relative;
    top: 6rem;
    padding: 1.5em 1em;
}

img {
    display: block;
    max-width: 100%;
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { 
    font-size: var(--fs-h1); 
    color: var(--clr-dark);
}
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

@media (max-width: 431px) {
    h1 { 
        font-size: var(--fs-h2); 
        color: var(--clr-dark);
    }
    h2 { font-size: var(--fs-h3) }
    h3 { font-size: var(--fs-body) }
}

/* Header */

header {
    position: fixed;
    width: 100vw;
    background: var(--clr-accent);
    height: 4.5rem;
    z-index: 1;
}

.nav_list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    float: right;
    margin: .75rem 2rem 0 0;
}

.nav_link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
    margin: 1rem;
}

.nav_link:hover {
    color: var(--bg-color);
}

@media (max-width: 431px) {
    .nav_link {
        font-size: var(--fs-body);
        margin: .5rem;
    }
    .nav_list {
        margin: 1rem 0 0 0;
    }
}

/* Intro */

.intro {
    max-width: 1300px;
    margin: 0 auto 0;
    font-size: 2rem;
}

.section_title_intro {
    font-weight: var(--fw-bold);
    margin-bottom: .25em;
}

.section_subtitle_intro {
    padding-left: 0.25em;
    font-weight: var(--fw-reg);
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
}

.section_title_intro strong {
    display: block;
}

.section_subtitle_about {
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
}

/* About Me */

.about-me {
    max-width: 1250px;
    margin: 0 auto 0;
    background-color: var(--bg-color);
}

.background, .education, .experience, .exp {
    padding: 1rem;
}

.education, .exp {
    display: flex;
}

.education ul, .exp ul {
    margin: 0;
}

.education img, .exp img {
    width: 250px;
    height: fit-content;
}

.section_title_about {
    color: var(--clr-accent);
    text-align: center;
}

.section_subtitle_about {
    font-size: var(--fs-h3);
}

.section_title_about::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 0.5em;
    background: var(--clr-dark);
    opacity: 0.25;
}

@media (max-width: 431px) {
    .education, .exp {
        display: flex;
        flex-direction: column;
    }
    .education ul, .exp ul {
        padding: 0;
    }
}

#name {
    list-style: none;
    font-weight: var(--fw-bold);
}

#date {
    list-style: none;
    font-style: italic;
}

/* Skills */

.my-skills {
    max-width: 1250px;
    margin: 0 auto 0;
    background-color: var(--bg-color);
    color: var(--clr-dark);
    text-align: center;
}

.section_title_skills {
    text-align: center;
    color: var(--clr-accent);
    position: relative;
}

.section_title_skills::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 0.5em;
    background: var(--clr-dark);
    opacity: 0.25;
}

.skills {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.skill {
    margin-bottom: 1rem;
}

.skill ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.skill ul li {
    margin-right: 2rem;
}

@media (max-width: 431px) {
    .skill ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 200px; 
        max-width: 100px;
        padding: 0;
    }
}

@media (max-width: 391px) {
    .skill ul {
        max-height: 200px; 
        max-width: 85px;
    }
}

@media (max-width: 321px) {
    .languages ul {
        margin-left: -1rem;
    }
}

.languages img, .technologies img {
    width: 80px;
    height: 80px;
}

.certifications {
    display: flex;
}

.certifications img {
    width: 150px;
    height: 150px;
}

/* My Projects */

.my-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1250px;
    margin: auto;
    background-color: var(--bg-color);
    color: var(--clr-accent);
    text-align: center;    
}

.section_title_projects::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 0.5em;
    background: var(--clr-dark);
    opacity: 0.25;
}

.project {
    background-color: var(--clr-accent);
    color: var(--text-color);
    width: 90vw;
    height: 500px;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0,0,0,.3);
    transform: translateX(400%);
    transition: transform 0.7s ease;
}

.project h2 {
    margin-top: 1rem;
}

.project h2 a {
    text-decoration: none;
    color: var(--text-color);
}

.project h2 a:hover {
    color: var(--bg-color);
}

.project-content {
    display: flex;
    margin-top: 1.5rem;
}

.project-content img {
    width: 450px;
    height: 300px;
    margin-top: 2rem;
    margin-right: 2rem;
}

.info {
    text-align: left;
}

.info ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.info ul li {
    padding: .25rem;
    color: var(--);
    background-color: var(--bg-color);
    border: 3px solid var(--clr-accent);
    border-radius: 15px;
    margin-right: .75rem;
}

.project:nth-of-type(even) {
    transform: translateX(-400%);
}

.project.show {
    transform: translateX(0);
}

@media (max-width: 1100px) {
    .project {
        width: 70vw;
        height: fit-content;
    }
    .project-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 431px) {
    .project {
        width: 95vw;
        height: fit-content;
    }
    .project-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .project-content img {
        margin: 0;
    }
    .info {
        width: 90vw;
    }
    .info ul li {
        margin-right: .25rem;
        font-size: 1rem;
    }
}

/* footer */

.footer {
    position: absolute;
    width: 100%;
    margin: 8rem 0;
    background: var(--clr-accent);
    color: var(--text-color);
    text-align: center;
    font-size: var(--fs-h3);
}

.footer a { 
    color: var(--text-color);
   
}

.footer_link {
    font-weight: var(--fw-bold);
}

.footer_link:hover,
.social-list_link:hover {
    opacity: .7;
}

.footer_link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0;
    padding: 0;
}

.social-list_item {
    margin: 0 .5em;
}

.social-list_link {
    padding: .5em;
}